<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical neural machine translation app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home')}}">SMT-Translation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse">
            <select class="selectpicker" data-width="fit">
                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
              <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
            </select>
            </div>
        </nav>

        <div class="container">
            <h1 class="text-center">A service translation by SMT</h1>
              </p>
              <div class="row">
                <div class="col">
                <!--<form action="/translate" method="post">-->
                    <!-- Enter text to translate. -->
                    <div class="form-group">
                        <label for="text1"><strong>Enter a text to translate:</strong></label> <br>
                        <textarea class="form-control" id="text1" name="text1" rows="2"></textarea>
                    </div>
                    <!-- Select output language here. -->
                    <div class="form-group">
                      <label for="select-language"><strong>Translate from : </strong></label>
                      <select class="form-control" id="trModel">
                        <option value="en">English -> French</option>
                        <option value="fr">French  -> English</option>
                      </select>
		    <br>
		    <input type="checkbox" id="check" name="multiple"> Multiple translations via stochastic beam search
		    </div>
                    <button id="clicked" class="btn btn-primary mb-2" onclick="myFunction()">Translate</button>

        <!--
                    <div class="show-data" ></div>
        -->
        <!--
                  </form>
        -->
                  <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                  <form>
                    <div class="form-group" id="translator-text-response">
                      <label for="translation-result"><strong>Translation:</strong></label>
                      <textarea readonly class="form-control" id="result" rows="2"></textarea>
                    </div>
                  </form>
                </div>
              </div>

            <hr>

            <div class="row">
                <p>This is a joint research effort by <a href="http://bluai.gr/" target="_blank">BLUAI</a>, <a href="https://esante.gouv.fr/" target="_blank">l'Agence du Numérique en Santé (ANS)</a> and <a href="https://www.atih.sante.fr/" target="_blank">l'Agence technique de l'information sur l'hospitalisation (ATIH)</a>:
                <div class="col-md-4">
                    <a href="http://bluai.gr/" target="_blank"><img src="../static/images/bluai_new.png" style="width: 90%; max-width: 90%; margin-top:30px" class="mx-auto d-block img-responsive" alt="Responsive image"></a>
                </div>
                <div class="col-md-4">
                    <a href="https://esante.gouv.fr/" target="_blank"><img src="../static/images/ans_logo.jpeg" style="width: 50%; max-width: 50%;" class="mx-auto d-block img-responsive" alt="Responsive image"></a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.atih.sante.fr/" target="_blank"><img src="../static/images/atih_logo.png" class="mx-auto d-block img-responsive" alt="Responsive image"></a>
                </div>
            </div>

            <hr>
            <p style="text-align:center">© 2021 ANS</p>
    

        </div>

<script>

$(function(){
    $('.selectpicker').selectpicker();
});

$("#trModel" ).change(function() {
    var trModel = $('#trModel').val();
     $.ajax({
	                       url: "/change_language",
	                       type: "POST",
	                       data: {trModel: trModel}
	                       // text2:text2}
	                   }).done(function(response) {

     });
});
	
function myFunction() {
    var text1 = $('#text1').val();
    
    var boolMult = false;
    if (document.getElementById("check").checked) {
	boolMult = true;
    }
    //var trModel = $('#trModel').val();
      $.ajax({
                  url: "/translate",
                  type: "POST",
                  data: {text1:text1, boolMult:boolMult}
                  // text2:text2}
              }).done(function(response) {

                var html = "";
                response=response.result;
                     $.each(response,function(key,val){
                     console.log(val);
                        html+=val
                    });
                    html +="";
                    $("#result").html(html);
		    $("#result").attr('rows', 8);
                });
  };
  </script>
<!-- <body>
    <p>
        Taking input from web<br><br>
            Text_Value1<input type="text" id="text1" name="text1"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >
    </div> -->
</body>
</html>
